<div class="container-fluid" ng-controller="MovieDetailController as movieDetailVm">
    <div class="row movieCatalog">
        <div class="col-sm-4">
            <img class="img-responsive img-rounded moviePoster" ng-src="{{movieDetailVm.movie.poster}}">
        </div>
        <div class="col-sm-6 movieDetails">
            <p class="movieTitle">{{movieDetailVm.movie.title}}</p>
            <p>
                <uib-rating class="userRating" ng-model="movieDetailVm.movie.rating" ng-click="movieDetailVm.updateRating()" max="5" read-only="false" ></uib-rating>
                <span class="year">{{movieDetailVm.movie.released}}</span>
                <span class="rated">{{movieDetailVm.movie.rated}}</span>
                <span class="runtime">{{movieDetailVm.movie.runtime}}</span>
            </p>
            <p class="imdbHeading">IMDB Details:-</p>
            <p>
                <span class="imdbRating">
                    <span class="glyphicon glyphicon-star rating"></span>
                    <span>{{movieDetailVm.movie.imdb.imdbRating}}</span>
                </span>

                <span class="imdbMetascore">
                    <span class="metascore">{{movieDetailVm.movie.imdb.metascore}}</span>
                    <span>MetaScore</span>
                </span>

                <span class="imdbVotes">
                    <span class="votes"><i>{{movieDetailVm.movie.imdb.imdbVotes|number}}</i></span>
                    <span>Votes</span>
                </span>

                <span class="imdbLink"><a target='_blank' href="http://www.imdb.com/title/{{movieDetailVm.movie.imdb.imdbID}}">IMDB Link</a></span>
            </p>
            <p class="moviesHeading">{{movieDetailVm.movie.type}} Details:-</p>
            <p><span class="movieKey">Plot: </span><span class="movieValue">{{movieDetailVm.movie.plot}}</span></p>
            <p><span class="movieKey">Genre: </span><span class="movieValue">{{movieDetailVm.movie.genre}}</span></p>
            <p><span class="movieKey">Language: </span><span class="movieValue">{{movieDetailVm.movie.languages}}</span></p>
            <p><span class="movieKey">Country: </span><span class="movieValue">{{movieDetailVm.movie.countries}}</span></p>
            <p class="imdbHeading">Cast</p>
            <p><span class="movieKey">Actor: </span><span class="movieValue">{{movieDetailVm.movie.actor}}</span></p>
            <p><span class="movieKey">Director: </span><span class="movieValue">{{movieDetailVm.movie.director}}</span></p>
            <p><span class="movieKey">Writer: </span><span class="movieValue">{{movieDetailVm.movie.writer}}</span></p>
            <p class="imdbHeading">Awards</p>
            <p><span class="movieKey"></span><span class="movieValue">{{movieDetailVm.movie.awards}}</span></p>
        </div>
    </div>
    <div class="viewComments"><a ng-click="movieDetailVm.showComments()">View Comments</a></div>
    <div class="row movieCatalog" ng-show="movieDetailVm.commentsFlag">
        <div class="col-sm-10" ng-repeat="comment in movieDetailVm.comments | filter :{movie:movieDetailVm.movie}" >
            <div class="panel comment-panel">
                <div class="comment-panel-heading panel-heading"><strong>{{comment.user.firstName}} {{comment.user.lastName}}</strong><span class="timeAgo"><small><time am-time-ago="{{comment.timestamp}}" title="{{ comment.timestamp | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time></small></span></div>
                <div class="panel-body comment-panel-body">{{comment.comment}}</div>
            </div>
        </div>
    </div>
    <div class="row movieCatalog">
        <div class="col-sm-10">
            <form role="form" ng-submit="movieDetailVm.addComment()">
                <div class="form-group">
                    <textarea class="form-control" rows="2" placeholder="Leave your comment here" ng-model = "movieDetailVm.newComment.comment" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn large-btn btn-primary submitComment">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>